$font-size-small: 12px;
$font-size-smaller: 14px;
$font-size-regular: 15px;
$font-size-larger: 16px;
$font-size-large: 20px;

$white: #FFFFFF;
$green: #00766C;
$blue-green: #407F8C;
$light-baige: #F2EDE2;
$light-red: #EF877C;
$red: #DB2C2C;
$orange: #F7AF1F;
$light-green: #92C486;
$light-grey: #EEEEEE;
$grey: #757575;

$pink: #D1A89E;
$sea-blue: #61A0BF;
$azure: #95CDD3;
$dark-yellow: #DFCF7F;

$content-bg-primary: #F4F5F6;
$content-bg-secondary: #E5EEF0;
$content-font-primary: #212121;
$content-font-secondary: #424242;
